:root{
  --purple: rgb(123, 31, 162);
  --pink: #ff1458 ;
  --violet: rgb(103, 58, 183);
}
@keyframes background-pan {
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}

#root{
  /* background: #acbaca; */
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

h1{
  color: #fff;
  opacity: 0.8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size:x-small;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

h1 > .cool > .cool-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--pink),
    var(--purple),
    var(--violet),
    var(--pink)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
